*{
    color: seashell;
}

body {
    margin: 0;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: red;
    position: relative;
    
}

.hero-content {
    width: 200px;
    height: 150px;
    background-color: rgb(179, 97, 21);
    position: absolute;
    left: 64px;
    bottom: 50%;
    margin-bottom: -150px;
}

.content {
    
    width: 100vw;
    height: 300vh;
    background-color: rgb(245, 223, 194);
}

.btn-primary {
    width: 200px;
    height: 50px;
    background-color: rgb(146, 57, 15);
    bottom: 0;
}